{% extends 'layout.html' %}

{% block content %}

<h1>Who am I?</h1>
<div></div>
<p>Hullo, I'm Wai and I'm a software tester and an aspiring developer.  I love programming in Python and I'm hoping to expand my knowledge in data analysis and machine learning with Tensorflow.  When not working or studying, I love to kick back with my friends to drink beer and to consume unhealthy amounts of fatty red meats.
</p>
<div></div>
<div>
    <img src="https://s17-us2.ixquick.com/cgi-bin/serveimage?url=http%3A%2F%2Ft0.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcQvO8Groyrhvfyy-gH5IjcqAzxWMGA2zAcl4AtrSJ53vkgoxA0C&sp=bd86e4c0e545e8829207a847a8dc946d&anticache=272467"/>
    <img src="https://s14-eu5.ixquick.com/cgi-bin/serveimage?url=http%3A%2F%2Ft0.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcRsyUL4Dm-2UgDEmQkoGiIPu4MF47pG_Q68WIwJBqRFI89Dgh0Lng&sp=c9088b075d1fba0f13d55cf3594065bf&anticache=798857"/>
</div>
<div></div>
<h2>What have I done?!?</h2>
<div>
    You see some of the ugliest code in my <a href="https://github.com/DeeScully/ps_python">Github repo.</a>
    It ain't pretty but it'll work 100% half the time.
</div>
<p></p>
<div>
    <div>
        Go back to the <a href="/">index.</a>
    </div>
</div>
{% endblock %}
