{% extends 'layout.html' %}

{% block content %}
<h1>Welcome</h1>
<div>
    <p>
        Thanks for visiting the ugly webpage.  I hate 'programming' in HTML5, CSS3, and JS (well, not so much JS, cuz that's REAL programming) so that's the reason this page looks so ugly.  I'm not a web designer nor do I have any interest in being one.  All webpages look the same now anyway, since everyone just uses the Bootstrap framework to make their websites.
    </p>
</div>
<div>
    <p>
        To learn more about me, <a href="/about">go to the about me page.</a>
    </p>
</div>
<div>
    <p><form id="like_btn" action="/about" method="post">
        <button type="submit" name="index_like">LIKE ME!!!</button>
    </form></p>
</div>
{% endblock %}
