{% extends 'layout.html' %}

{% block content %}
<h1>Welcome to the page of tables!</h1>

<img src="https://tse4.mm.bing.net/th?id=OIP.h5_J7Lsft_PSGsoB7xWB1A4l6P&w=242&h=188&c=7&o=5&pid=1.7">

<div>
    <p>As you can see, that's a table.  This is also a table:</p>
</div>

<div>
    <table class="tabtab">
        <tr>
            <th>Best colors on the whole world</th>
            <th>How much I love this colors</th>
        </tr>
        <tr>
            <td id="mauve">Mauve</td>
            <td>THIIIIIIiiis much!</td>
        </tr>
        <tr>
            <td id='litebrown'>Lite Brown</td>
            <td>Meh.  It's aite.</td>
        </tr>
        <tr>
            <td id="beige">Beige</td>
            <td>Now WE TALKIN!!!!</td>
        </tr>
    </table>
</div>

<div>
  <form action="/" method="post">
    <input type="text" name="msg_to_encrypt" placeholder="What is your msg?"><br>
    <input type="text" name="key" placeholder="What is the encryption key?">
    <input type="submit" value="Encrypt!">
  </form>
</div>
{% endblock %}
